	
<% include layout/header %>
	<div class="content view-contactUs">
        <div class="form">
            <p>姓名<input type="text" name="name" value="" /></p>
            <p>邮箱<input type="text" name="email" value="" /></p>
            <p>信息<input type="text" name="message" value="" /></p>
            <p><span class="button">发送</span></p>
        </div>
    </div>
    <div class="footer">© Copyright 2017. Clover</div>
<% include layout/footer %>