	
<% include layout/header %>
	<div class="content view-index" id="sliderBox">
        <div class="slider-item"></div>
        <div class="slider-item"></div>
        <div class="slider-item"></div>
        <div class="slider-item"></div>
        <div class="sliderLinks">
            <div class="sliderLink prev"></div>
            <div class="sliderLink next"></div>
        </div>
    </div>
    <script type="text/javascript">
        require(['/js/index.js']);
    </script>
<% include layout/footer %>