	
<% include layout/header %>
	<div class="content view-list">
        <div class="grid" id="grid">
            <div class="grid-item"><img src="/images/macro/1.jpg" alt="图1" /></div>
            <div class="grid-item"><img src="/images/macro/2.jpg" alt="图2" /></div>
            <div class="grid-item"><img src="/images/macro/3.jpg" alt="图3" /></div>
            <div class="grid-item"><img src="/images/macro/4.jpg" alt="图4" /></div>
            <div class="grid-item"><img src="/images/macro/5.jpg" alt="图5" /></div>
            <div class="grid-item"><img src="/images/macro/6.jpg" alt="图6" /></div>
            <div class="grid-item"><img src="/images/macro/7.jpg" alt="图7" /></div>
            <div class="grid-item"><img src="/images/macro/8.jpg" alt="图8" /></div>
            <div class="grid-item"><img src="/images/macro/9.jpg" alt="图9" /></div>
            <div class="grid-item"><img src="/images/macro/10.jpg" alt="图10" /></div>
            <div class="grid-item"><img src="/images/macro/11.jpg" alt="图11" /></div>
            <div class="grid-item"><img src="/images/macro/12.jpg" alt="图12" /></div>
            <div class="grid-item"><img src="/images/macro/13.jpg" alt="图13" /></div>
            <div class="grid-item"><img src="/images/macro/14.jpg" alt="图14" /></div>
            <div class="grid-item"><img src="/images/macro/15.jpg" alt="图15" /></div>
        </div>
    </div>
    <script type="text/javascript">
        require(['/js/waterfall.js']);
    </script>
<% include layout/footer %>