	
<% include layout/header %>
	<div class="content view-recommend">
        <ul class="recommend_list">
            <li><img src="/images/recommend_1.jpg" alt="图1" /><div class="overlay"></div></li>
            <li><img src="/images/recommend_2.jpg" alt="图2" /><div class="overlay"></div></li>
            <li><img src="/images/recommend_3.jpg" alt="图3" /><div class="overlay"></div></li>
            <li><img src="/images/recommend_4.jpg" alt="图4" /><div class="overlay"></div></li>
            <li><img src="/images/recommend_5.jpg" alt="图5" /><div class="overlay"></div></li>
            <li><img src="/images/recommend_6.jpg" alt="图6" /><div class="overlay"></div></li>
            <li><img src="/images/recommend_7.jpg" alt="图7" /><div class="overlay"></div></li>
            <li><img src="/images/recommend_8.jpg" alt="图8" /><div class="overlay"></div></li>
            <li><img src="/images/recommend_9.jpg" alt="图9" /><div class="overlay"></div></li>
        </ul>
    </div>
<% include layout/footer %>