<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../styles/app.min.css" />
<title>联系我们</title>
</head>
<body>
    <div class="view-contactUs">
        <div class="header">
            <div class="nav">
                <div class="logo"><a title="首页" href="../index.html"><img src="../images/logo.png" alt="logo" /></a></div>
                <ul>
                    <li><a title="精选" href="recommend.html">精选</a></li>
                    <li><a title="风光" href="scenery.html">风光</a></li>
                    <li><a title="微距" href="macro.html">微距</a></li>
                    <li><a title="人物" href="person.html">人物</a></li>
                    <li><a class="active" title="联系我们" href="contact_us.html">联系我们</a></li>
                    <li class="sound"><span title="音频 开/关" class="soundOff j-sound"></span></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="form">
                <p>姓名<input type="text" name="name" value="" /></p>
                <p>邮箱<input type="text" name="email" value="" /></p>
                <p>信息<input type="text" name="message" value="" /></p>
                <p><span class="button">发送</span></p>
            </div>
        </div>
        <div class="footer">© Copyright 2017. Clover</div>
    </div>
    <script data-main="../js/app.js" src="../js/libs/requirejs/require.js"></script>
    <script type="text/javascript">
        require(['../js/common']);
    </script>
</body>
</html>
