<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../styles/app.min.css" />
<title>精选</title>
</head>
<body>
    <div class="view-recommend">
        <div class="header">
            <div class="nav">
                <div class="logo"><a title="首页" href="../index.html"><img src="../images/logo.png" alt="logo" /></a></div>
                <ul>
                    <li><a class="active" title="精选" href="recommend.html">精选</a></li>
                    <li><a title="风光" href="scenery.html">风光</a></li>
                    <li><a title="微距" href="macro.html">微距</a></li>
                    <li><a title="人物" href="person.html">人物</a></li>
                    <li><a title="联系我们" href="contact_us.html">联系我们</a></li>
                    <li class="sound"><span title="音频 开/关" class="soundOff j-sound"></span></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <ul class="recommend_list">
                <li><img src="../images/recommend_1.jpg" alt="图1" /><div class="overlay"></div></li>
                <li><img src="../images/recommend_2.jpg" alt="图2" /><div class="overlay"></div></li>
                <li><img src="../images/recommend_3.jpg" alt="图3" /><div class="overlay"></div></li>
                <li><img src="../images/recommend_4.jpg" alt="图4" /><div class="overlay"></div></li>
                <li><img src="../images/recommend_5.jpg" alt="图5" /><div class="overlay"></div></li>
                <li><img src="../images/recommend_6.jpg" alt="图6" /><div class="overlay"></div></li>
                <li><img src="../images/recommend_7.jpg" alt="图7" /><div class="overlay"></div></li>
                <li><img src="../images/recommend_8.jpg" alt="图8" /><div class="overlay"></div></li>
                <li><img src="../images/recommend_9.jpg" alt="图9" /><div class="overlay"></div></li>
            </ul>
        </div>
    </div>
    <script data-main="../js/app.js" src="../js/libs/requirejs/require.js"></script>
    <script type="text/javascript">
        require(['../js/common']);
    </script>
</body>
</html>
