<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../styles/app.min.css" />
<title>风景列表</title>
</head>
<body>
    <div class="view-list">
        <div class="header">
            <div class="nav">
                <div class="logo"><a title="首页" href="../index.html"><img src="../images/logo.png" alt="logo" /></a></div>
                <ul>
                    <li><a title="精选" href="recommend.html">精选</a></li>
                    <li><a class="active" title="风光" href="scenery.html">风光</a></li>
                    <li><a title="微距" href="macro.html">微距</a></li>
                    <li><a title="人物" href="person.html">人物</a></li>
                    <li><a title="联系我们" href="contact_us.html">联系我们</a></li>
                    <li class="sound"><span title="音频 开/关" class="soundOff j-sound"></span></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="grid" id="grid">
				<div class="grid-item"><img src="../images/scenery/1.jpg" alt="图1" /></div>
				<div class="grid-item"><img src="../images/scenery/2.jpg" alt="图2" /></div>
				<div class="grid-item"><img src="../images/scenery/3.jpg" alt="图3" /></div>
				<div class="grid-item"><img src="../images/scenery/4.jpg" alt="图4" /></div>
				<div class="grid-item"><img src="../images/scenery/5.jpg" alt="图5" /></div>
				<div class="grid-item"><img src="../images/scenery/6.jpg" alt="图6" /></div>
				<div class="grid-item"><img src="../images/scenery/7.jpg" alt="图7" /></div>
				<div class="grid-item"><img src="../images/scenery/8.jpg" alt="图8" /></div>
				<div class="grid-item"><img src="../images/scenery/9.jpg" alt="图9" /></div>
				<div class="grid-item"><img src="../images/scenery/10.jpg" alt="图10" /></div>
				<div class="grid-item"><img src="../images/scenery/11.jpg" alt="图11" /></div>
				<div class="grid-item"><img src="../images/scenery/12.jpg" alt="图12" /></div>
				<div class="grid-item"><img src="../images/scenery/13.jpg" alt="图13" /></div>
				<div class="grid-item"><img src="../images/scenery/14.jpg" alt="图14" /></div>
				<div class="grid-item"><img src="../images/scenery/15.jpg" alt="图15" /></div>
			</div>
        </div>
    </div>
	
    <script data-main="../js/app.js" src="../js/libs/requirejs/require.js"></script>
    <script type="text/javascript">
        require(['../js/waterfall',  '../js/common']);
    </script>
</body>
</html>
